@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
}

:root {
    --amarelo-dourado: #B38100;
    --marrom-efeito: #875627;
}

/*CABEÇALHO*/
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 176px;
}

.cabecalho__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 241px;
    height: 104px;
    margin-top: 27px;
}

#nome__titulo {
    color: var(--amarelo-dourado);
    font-size: 26px;
}

.logo__imagens {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo__imagem1 {
    width: 149px;
    height: 44px;
}

#logo__imagem2 {
    width: 88px;
    height: 88px;
}

/*Nav*/
.nav__lista {
    display: flex;
    margin-top: 24px;
    gap: 22px;
}

.nav__lista li {
    font-size: 13px;
    border-bottom: 1.5px solid var(--amarelo-dourado);
}

/*PRINCIPAL - NOSSO LAMEN*/
/*Controle dos slides*/
.principal {
    overflow: hidden;
    width: 100vw;
    position: relative;
    height: 75vh;
    margin-top: 15px;
}

.principal__nosso-lamen {
    display: flex;
    transition: transform 0.5s;
    width: 100%; 
    margin-right: 0;
    position: relative;
}

/*bullet points slide*/
.principal__nosso-lamen-bullets {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 3;
    margin-top: 15px;
}

.bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: grey;
    cursor: pointer;
    margin: 0 4px; /* Espaçamento entre bullets */
    border: 1px solid black;
}

.bullet.active {
    background-color: black;
}


/*Estilização slides*/
.nosso-lamen__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    flex: 0 0 100%;

}

.nosso-lamen__imagem {
    width: 145px;
    height: 128px;
    position: absolute;
    transform: translateY(-80%);
}

.nosso-lamen__imagem img {
    width: 100%;
    height: 100%;
    border-radius: 500px;
    box-shadow: 0 0 20px var(--marrom-efeito);
}

.nosso-lamen__texto {
    border: 5px solid var(--amarelo-dourado);
    text-align: center;
    padding-top: 38px;
}

.nosso-lamen__texto h1 {
    padding-bottom: 16px;
}

.nosso-lamen__texto p {
    width: 248px;
    padding: 16px;
    font-size: 12px;
}

/*Botão Ifood*/
.principal__ifood {
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
}

#ifood__img {
    width: 81px;
    height: 81px;
    border-radius: 50px;
}

/*O ASKA SOBRE*/
/*Parte superior*/
.principal__sobre-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
    border-top: 2px solid black;
    width: 374px;
    margin-left: 35%;
    margin-right: 5%;
}
/*Imagens1*/
    .principal__sobre-superior-1-img {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 10%;
    }
    .principal__sobre-superior-1-img img{
        width: 124px;
        height: 121px;
        flex-shrink: 0;
        border-radius: 10px;
    }
    /*Texto 1*/
    .principal__sobre-superior-1-texto{ 
        color: #000;
        text-align: right;
        font-size: 13px;
        font-style: normal;
        font-weight: 350;
        line-height: normal;
    }
    .principal__sobre-superior-1-texto p{ 
        width: 155px;
        height: 288px;
        flex-shrink: 0;
        margin-top: 10%;
    }


/*Parte inferior*/
    .principal__sobre-inferior {
        display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: space-around;
        border-top: 1px solid black;
        width: 374px;
        margin-left: 35%;
        margin-right: 5%;
}

/*Imagem Texto Japonês Lateral Imagem*/
    .principal__sobre-inferior-1 img{
        width: 69px;
        height: 228px;
        flex-shrink: 0;
    }

/*Imagem e texto Geral*/
    .principal__sobre-inferior-2 {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

/*Imagem e texto IMAGEM*/
.principal__sobre-inferior-2-img-texto {
    display: flex;
    flex-direction: row;
    text-wrap: balance;
    align-items: self-end;
    margin-bottom: 18%;
}  
.principal__sobre-inferior-2-img-texto  img{
    width: 95px;
    height: 100px;
    flex-shrink: 0;
}
/*Imagem e texto PARAGRAFO*/
.principal__sobre-inferior-2-img-texto  p{
    width: 103px;
    height: 64px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

    
/*RODAPE*/
footer {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    border-top: 2px solid black;
    border-bottom: 5px solid black;
}

.rodape__redes-sociais {
    display: flex;
    width: 156px;
    height: 43.775px;
    margin-top: 5%;
}

.rodape__redes-sociais img {
    width: 100%;
    height: 100%;
}